<footer>
	<div class="footer-lhs">
		<div class="nav-drop-down">
			<a class="footer-btn" href={{cond (eq (path.BaseName (.Page.RelPermalink)) "about" ) "/" "/about" }}>
				{{cond (eq (path.BaseName (.Page.RelPermalink)) "about") "home" "about" }}
			</a>

			<div class="footer-dropdown">
				<a href="/getting-started"> Getting Started </a>
				<a href="/about/#code-of-conduct"> Code of Conduct </a>
				<a href="/about/#copyright"> Copyright </a>
			</div>
		</div>

		<div class="vl"> </div>

		<a class="footer-btn" href={{cond (eq (path.BaseName (.Page.RelPermalink)) "tags" ) "/" "/tags" }}>
			{{cond (eq (path.BaseName (.Page.RelPermalink)) "tags") "home" "tags" }}
		</a>

	</div>

	<ul class="footer-link">
		<li>
			<a href="https://github.com/dla-hubs/open-rfc-for-bim/">
				<img src={{"svgs/logo-github.svg" | relURL}} alt="GitHub" height="28" />
			</a>

			<!-- <a href="/coming-soon"> -->
			<!-- 	<img src={{"svgs/logo-twitter.svg" | relURL}} alt="twitter" height="25" /> -->
			<!-- </a> -->
			<!---->
			<!-- <a href="/coming-soon"> -->
			<!-- 	<img src={{"svgs/logo-discord.svg" | relURL}} alt="Discord" height="24" /> -->
			<!-- </a> -->
		</li>
	</ul>
</footer>
