{{define "main"}}

<div class="main-container">
	<div class="main-home">
		<a class="primary-button-container" href="/rfc/page/1">
			<div class="primary-button"> RFC-001 </br> ~ </br> RFC-050 </div>
			<div class="status-under-button"> 3 Open </div>
		</a>


		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-051 </br> ~ </br> RFC-100 </div>
			<div class="status-under-button"> empty </div>

		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-101 </br> ~ </br> RFC-150</div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-151 </br> ~ </br> RFC-200 </div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-201 </br> ~ </br> RFC-250 </div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-251 </br> ~ </br> RFC-300 </div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-301 </br> ~ </br> RFC-350 </div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RF-351 </br> ~ </br> RFC-400 </div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-401 </br> ~ </br> RFC-450 </div>
			<div class="status-under-button"> empty </div>
		</a>

		<a class="primary-button-container" href="/rfc/empty">
			<div class="primary-button"> RFC-451 </br> ~ </br> RFC-500 </div>
			<div class="status-under-button"> empty </div>
		</a>
	</div>
</div>
{{ end }}
