{{ define "main" }}

<div class="main-container">


	<div class="main-contianer">
		<div class="main-list" id="result">



			<div class="search-header-container">
				<div class="nav-tag" id="search-result-info">
				</div>
				<div id="no-result-tip"> Can't find what you are looking for? <br />
					Read <a href="/about"> About </a> to get started and submit your RFC!</div>
			</div>

			<div class="list-items" id="heading">
				<div id="heading">
					RFC No.
				</div>
				<div id="heading">
					Title
				</div>
				<div id="heading">
					Summary
				</div>
				<div id="heading">
					Tags
				</div>
			</div>
			<hr />

		</div>
	</div>
</div>


{{ end }}
