{{ define "main" }}

<div class="main-container">
	<div class="search-header-container">
		<div class="nav-tag" id="search-result-info">
		</div>
		<div id="no-result-tip"> Can't find what you are looking for? <br /> You can
			open a new RFC to initiate potential changes from Git
			link below!
		</div>
	</div>

	<div class="main-contianer">
		<div class="main-list" id="result">
			<div class="list-items" id="heading">
				<div id="heading">
					RFC No.
				</div>
				<div id="heading">
					Title
				</div>
				<div id="heading">
					Summary
				</div>
				<div id="heading">
					Tags
				</div>
			</div>
			<hr />

		</div>
	</div>
</div>


{{ end }}
